# system / editor files

Thumbs.db
.DS_Store
*.sublime-project
*.sublime-workspace
*.esproj
*.project
*.buildpath
*.sass-cache
*.settings
nbproject
node_modules

reports/
projects/*
!projects/config.default.json
!projects/config.magento.json
!projects/config.symfony.json
!projects/config.wordpress.json
tools/php-cs-fixer.phar
tools/phpcpd.phar
vendor
composer.lock